@import 'styles/variables.scss';

.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background-color: $app-bg-color;
  color: $app-text-color;
  display: grid;
  grid-template-rows: 10rem auto 3rem;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem 0;
  }

  a {
    color: $app-link-color;
    text-decoration: none;
  }

  .App__Header {
    margin-bottom: 2rem;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .App__Body {
    margin: 0 3rem;
  }

  .App__Footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ellipsis {
    width: 115px;
    display: inline-block;
    text-align: left;
    &:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4,end) 1200ms infinite;      
      animation: ellipsis steps(4,end) 1200ms infinite;
      content: "\2026";
      width: 0px;
    }
  }
  
  @keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
}

@media only screen and (max-width: 768px) {
  .App {
    .App__Body {
      margin: 0;
    }
  }
}