@import 'styles/variables.scss';

.OrderBook {
  display: grid;
  grid-template-rows: 2rem 1fr 3rem;
  height: 100%;
  max-width: 1200px;
  min-width: 220px;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 500;
  
  &.connecting {
    color: lightgray;
  }

  .OrderBook__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    border-bottom: 1px solid $app-gray;
  }

  .OrderBook__Spread {
    color: $app-gray;
    &.OrderBook__Spread__Lower {
      display: none;
    }
  }

  .OrderBook__Body {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
    .OrderBook__Buy,
    .OrderBook__Sell {
      display: flex;
      flex-direction: column;
      width: 50%;
      min-height: 50vh;

      .lds-ring {
        margin: 3rem auto;
      }
    }
    .OrderBook__Row {
      display: flex;
      padding: 0.25rem 0;

      &:first-child {
        text-transform: uppercase;
        color: $app-gray;
        border-bottom: 1px solid #232a3c;
        padding: 0.35rem 0;
      }

      > div {
        flex-basis: 33%;
      }

      .OrderBook__Row__Price__Buy {
        color: #13ab75;
      }
      .OrderBook__Row__Price__Sell {
        color: #db4446;
      }
    }
  }

  .OrderBook__Footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .Button:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .OrderBook {
    .OrderBook__Body {
      flex-direction: column-reverse;

      .OrderBook__Buy {
        .OrderBook__Row {
          flex-direction: row-reverse;
        }
      }

      .OrderBook__Buy,
      .OrderBook__Sell {
        width: 100%;
        justify-content: start;
      }

      .OrderBook__Buy {
        .OrderBook__Row:first-child {
          display: none;
        }
      }
      .OrderBook__Sell {
        flex-direction: column-reverse;
        .OrderBook__Row:first-child {
          order: 1;
        }
      }
    }
    .OrderBook__Spread {  
      &.OrderBook__Spread__Upper {
        display: none;
      }
      &.OrderBook__Spread__Lower {
        display: block;
        width: 100%;
        padding: 0.5rem 0;
      }
    }
  }
}
